Repository open-edge-platform/infra-external, pull requests merged in 2025-06, with the labels that each got.

#86 chore: remove renamed flag
  .github/workflows/post-merge-dmt-manager.yml
  .github/workflows/post-merge-loca-metadata.yml
  .github/workflows/post-merge-loca-onboarding.yml
  .github/workflows/post-merge-loca-plugin.yml
  .github/workflows/post-merge-loca-templates.yml
Labels: CI 🤖

#85 DM manager - immediate power management
  common.mk
  dm-manager/.golangci.yml
  dm-manager/Dockerfile
  dm-manager/VERSION
  dm-manager/cmd/cli/cli.go
  dm-manager/cmd/dm-manager.go
  dm-manager/go.mod
  dm-manager/go.sum
  dm-manager/pkg/api/mps/client.gen.go
  dm-manager/pkg/api/mps/swagger.json
  dm-manager/pkg/device/device.go
  dm-manager/pkg/device/device_test.go
  dm-manager/pkg/flags/flags.go
  dm-manager/pkg/tenant/controller.go
  dm-manager/pkg/tenant/controller_test.go
  dm-manager/pkg/tenant/utils.go
  dm-manager/pkg/tenant/utils_test.go
  loca-metadata/Dockerfile
  loca-onboarding/Dockerfile
  loca-onboarding/pkg/util/hook.go
  loca-templates/Dockerfile
Labels: loca-onboarding, loca-metadata, loca-templates, root, dm-manager

#96 Updates and releases components with inventory v2.27.0
  loca-metadata/VERSION
  loca-onboarding/VERSION
  loca-templates/VERSION
Labels: loca-onboarding, loca-metadata, loca-templates

#102 Bump dm-manager version
  dm-manager/VERSION
Labels: dm-manager
