Repository open-edge-platform/infra-external, pull requests merged in 2025-05, with the labels that each got.

#46 License and openssf badges
  README.md
Labels: root

#47 Add RPS
  dm-manager/.mockery.yml
  dm-manager/Makefile
  dm-manager/cmd/dm-manager.go
  dm-manager/pkg/api/mps/client.gen.go
  dm-manager/pkg/api/mps/mocks.go
  dm-manager/pkg/api/mps/swagger.json
  dm-manager/pkg/api/rps/client.gen.go
  dm-manager/pkg/api/rps/mocks.go
  dm-manager/pkg/api/rps/swagger.json
  dm-manager/pkg/dm/amt.go
  dm-manager/pkg/dm/amt_test.go
  dm-manager/pkg/dm/auth.go
  dm-manager/pkg/dm/auth_test.go
  version.mk
Labels: root, dm-manager

#48 chore: Add contributor
  .github/CODEOWNERS
  CONTRIBUTORS.md
Labels: CI 🤖, root

#51 chore: update deps
  loca-metadata/go.mod
  loca-metadata/go.sum
  loca-onboarding/go.mod
  loca-onboarding/go.sum
  loca-templates/VERSION
  loca-templates/go.mod
  loca-templates/go.sum
Labels: loca-onboarding, loca-metadata, loca-templates

#52 fix: Ensure all dependencies are pinned
  .github/workflows/pre-merge.yml
  dm-manager/Dockerfile
  loca-metadata/Dockerfile
  loca-onboarding/Dockerfile
  loca-templates/Dockerfile
Labels: loca-onboarding, loca-metadata, loca-templates, CI 🤖, dm-manager

#53 chore: adding secret permissions to up openSSF score
  .github/workflows/auto-add-labels.yml
  .github/workflows/auto-close.yml
  .github/workflows/auto-update.yml
  .github/workflows/post-merge-dmt-manager.yml
  .github/workflows/post-merge-loca-metadata.yml
  .github/workflows/post-merge-loca-onboarding.yml
  .github/workflows/post-merge-loca-plugin.yml
  .github/workflows/post-merge-loca-templates.yml
  .github/workflows/pre-merge.yml
Labels: CI 🤖

#49 OpenAPI breaking check with oasdiff
  common.mk
  dm-manager/Makefile
  loca-onboarding/Makefile
  version.mk
Labels: loca-onboarding, root, dm-manager

#59 chore: harden permissions for workflows
  .github/workflows/auto-add-labels.yml
  .github/workflows/auto-close.yml
  .github/workflows/auto-update.yml
  .github/workflows/post-merge-dmt-manager.yml
  .github/workflows/post-merge-loca-metadata.yml
  .github/workflows/post-merge-loca-onboarding.yml
  .github/workflows/post-merge-loca-plugin.yml
  .github/workflows/post-merge-loca-templates.yml
  .github/workflows/pre-merge.yml
Labels: CI 🤖

#61 Adds buffer to inventory client events chan
  loca-metadata/cmd/locametamgr.go
  loca-onboarding/cmd/locamgr.go
  loca-onboarding/pkg/client/inventory/tenant_getter.go
  loca-templates/cmd/loca-templates-manager.go
Labels: loca-onboarding, loca-metadata, loca-templates

#62 fix: unset permissions
  .github/workflows/auto-update.yml
Labels: CI 🤖

#67 chore: sort zizmor findings
  .github/dependabot.yml
  .github/workflows/post-merge-dmt-manager.yml
  .github/workflows/post-merge-loca-metadata.yml
  .github/workflows/post-merge-loca-onboarding.yml
  .github/workflows/post-merge-loca-plugin.yml
  .github/workflows/post-merge-loca-templates.yml
  .github/workflows/pre-merge.yml
Labels: CI 🤖

#72 chore: move to self hosted auto update
  .github/workflows/auto-update.yml
Labels: CI 🤖

#71 Releases components with inventory v2.25.0
  dm-manager/VERSION
  dm-manager/go.mod
  dm-manager/go.sum
  loca-metadata/VERSION
  loca-metadata/go.mod
  loca-metadata/go.sum
  loca-onboarding/VERSION
  loca-onboarding/go.mod
  loca-onboarding/go.sum
  loca-onboarding/internal/handlers/host_reconciler_test.go
  loca-onboarding/internal/handlers/instance_reconciler_test.go
  loca-onboarding/internal/manager/locarm_test.go
  loca-onboarding/pkg/util/util_test.go
  loca-templates/VERSION
  loca-templates/go.mod
  loca-templates/go.sum
Labels: loca-onboarding, loca-metadata, loca-templates, dm-manager

#73 Releases components with cross deps updated in go.mod
  loca-metadata/VERSION
  loca-metadata/go.mod
  loca-metadata/go.sum
  loca-templates/VERSION
  loca-templates/go.mod
  loca-templates/go.sum
Labels: loca-metadata, loca-templates
