Repository open-edge-platform/infra-external, pull requests merged in 2025-04, with the labels that each got.

#29 fix: ensure pre-merge is passed before setting PR green
  .github/workflows/pre-merge.yml
Labels: CI 🤖

#26 ci: Pinpoint Action sha
  .github/workflows/auto-add-labels.yml
  .github/workflows/auto-close.yml
  .github/workflows/pre-merge.yml
Labels: CI 🤖

#30 chore: Remove ECR create repository from Makefile
  common.mk
Labels: root

#32 fix: remove deprecated flags
  .github/workflows/post-merge-dmt-manager.yml
  .github/workflows/post-merge-loca-metadata.yml
  .github/workflows/post-merge-loca-onboarding.yml
  .github/workflows/post-merge-loca-plugin.yml
  .github/workflows/post-merge-loca-templates.yml
  .github/workflows/pre-merge.yml
Labels: CI 🤖

#31 Update REUSE.toml for loca-plugin
  loca-plugin/README.md
  loca-plugin/REUSE.toml
Labels: loca-plugin, CI 🤖

#35 feat: Add contributors file
  CONTRIBUTORS.md
Labels: root

#37 chore: Add LICENSE file to the root
  LICENSE
Labels: root

#34 Swagger gen for DM
  dm-manager/.golangci.yml
  dm-manager/.mockery.yml
  dm-manager/.reuse/dep5
  dm-manager/Makefile
  dm-manager/cmd/dm-manager.go
  dm-manager/go.mod
  dm-manager/go.sum
  dm-manager/pkg/amt/amt.go
  dm-manager/pkg/api/client.gen.go
  dm-manager/pkg/api/mocks.go
  dm-manager/pkg/api/swagger.json
  dm-manager/pkg/dm/amt.go
  dm-manager/pkg/dm/amt_test.go
  dm-manager/pkg/dm/auth.go
  dm-manager/pkg/dm/auth_test.go
Labels: dm-manager

#38 chore: Bump minor dev version
  loca-metadata/VERSION
  loca-onboarding/VERSION
  loca-plugin/VERSION
  loca-templates/VERSION
Labels: loca-onboarding, loca-metadata, loca-templates, loca-plugin

#42 Fix missing logs and metrics in Grafana for LOC-A provisioned Edge Nodes
  loca-plugin/VERSION
  loca-plugin/definition.json
  loca-plugin/edge-node/inventory.yml.j2
  loca-plugin/edge-node/playbooks/roles/curation/tasks/main.yaml
  loca-templates/VERSION
  loca-templates/pkg/templates/templates-handler.go
  loca-templates/pkg/templates/templates-handler_test.go
Labels: loca-templates, loca-plugin, c-3.0.1
